<%- include("partials/header"); -%>
<!DOCTYPE html> 
<html> 
<head> 
	<title> About Us </title> 
</head> 
<body style="margin: 0;  padding: 0; font-family: sans-serif; background-size: cover; background-position: center; background-attachment: fixed;"
background="images/login.png">
<hr color="red" align="left" width="1088">
<marquee><h2>Team Assigned Project : Travel Blog</h2> </marquee>
<hr color="red" align="left" width="1088">


<div class="container" > 
<center>
<table   >
	<tr>
		<td>
			<h4><ul><b>Team name</b></ul></h4>
		</td>
		<td>
			<h4><ul><b>Details</b></ul></h4>
		</td>
	</tr>
	<tr>
		<td>
			<h3><strong>Ashish kumar singh</strong></h3>
		</td>
		<td>
			<h3><details><summary><em>click to see details</em></summary>
					<p>contact: 7766992896</p>
					<p>Email:asisceng@gmail.com</p></details></h3>
	</tr>	</td>
	
	<tr>	<td>
			<h3><strong>Sneha singh</strong></h3>
		</td>
		<td>
			<h3><details><summary><em>click to see details</em></summary>
				<p>contact: 7043118864</p>
				</details></h3>
		</td>	
	</tr>
	<tr>
		<td>
			<h3><strong>Sneha N</strong></h3>
		</td>
		<td>
			<h3><details><summary><em>click to see details</em></summary>
				<p> 9740195988</p>
				</details></h3>
		</td>
	</tr>
	
	
</table>
</center>
</div>
</body>
</html>
<%- include("partials/footer"); -%>