
<%- include("partials/header"); -%>

<div class="container">

<h3>BUNGEE JUMPING IN RISHIKESH: 60 SECS OF INSANE COURAGE</h3>
<p>The Prayag Kumbh Mela is a Hindu festival mela held at Prayag Triveni Sangam – the meeting points of three rivers: the Ganga, the Yamuna and the mythical Sarasvati – in Allahabad (officially known as Prayagraj), India.[1] The festival is marked by a ritual dip in the waters, but it is also a celebration of community commerce with numerous fairs, education, religious discourses by saints, mass feedings of monks or the poor, and entertainment spectacle.[2][3]

    The full Kumbh mela is held every 12 years, while an ardha (half) mela is held after about 6 years at the same site. The 2013 Kumbh mela was the largest religious gathering in the world with almost 120 million visitors. An Ardh Kumbh Mela was held in early 2019. The next full Kumbh mela is scheduled for 2025. The exact date is based on the Hindu luni-solar calendar and is determined by the entry of planet Jupiter in Taurus zodiac and while the sun and the moon is in Capricorn.[4][note 1]
    
    The Mela is one of the four fairs traditionally recognized as Kumbh Melas. An annual fair, known as Magh Mela, has been held at Prayag Triveni sangam since ancient times (at least early centuries CE). The site, its sacredness, bathing pilgrimage and the annual festival is mentioned in the ancient Puranas and the epic Mahabharata. The festival is also mentioned in later era texts such as those by Muslim historians of the Mughal Empire. However, these sources do not use the phrase "Kumbh Mela" for the bathing festival at Prayag (renamed Allahabad during the Mughal era). The earliest mention of a Kumbh Mela at Allahabad occurs only after the mid-19th century in colonial era documents. The Prayagwals (local Brahmins of Prayag) are believed to have adopted the kumbha and the 12-year cycle of the historic Haridwar Kumbh Mela for their annual Magh Mela around this time. Since then, every 12 years, the Magh Mela turns into a Kumbh Mela, and six years after a Kumbh Mela, it is an Ardh Kumbh ("Half Kumbh") Mela.</p>
    <h3>Transformation of the Magh Mela into Kumbh Mela</h3>
    <p>It is difficult to determine the exact year in which the Magh Mela was first celebrated as a Kumbh Mela. The 1870 fair at Allahabad is the earliest fair that is described as a "Kumbh Mela" by contemporary sources. The previous Kumbh Mela would have been scheduled in 1858; but that year, no fair was held in Allahabad because of disturbances resulting from the 1857 uprising. Before that, a Kumbh Mela would have been held in 1846, but there are no records to suggest this. In 1874, G. H. M. Ricketts — the Commissioner of Allahabad — wrote that the fair became more sacred every seventh year, and attracted a larger number of pilgrims and merchants. Beyond this, he wrote, the administration had little knowledge of the factors that resulted in increased or decreased attendance at the fair in a given year.[7]

        The earliest reference to a Kumbh Mela at Allahabad is from a British report of 1868. In this report, G. H. M. Ricketts (then the Magistrate of Allahabad) discusses the need for sanitation controls at the "Coomb fair" (Kumbh Mela) to be held in 1870. He also mentions that he had witnessed huge crowd at an "Ad Coomb" (Ardh Kumbh) four years earlier. In his report on the 1870 Magh Mela, the Commissioner of Allahabad J. C. Robertson also stated that this year's fair was a "Koombh". This report is also the earliest extant source that mentions a procession of sadhus at Allahabad; this procession occurs only during a Kumbh Mela, and not during a Magh Mela.[7]
        
        Historian Kama Maclean hypothesizes that the 1870 Mela was the first fair at Allahabad to be called a "Kumbh Mela". Historically, the Magh Mela has been an important source of income for the Prayagwal Brahmins of Allahabad. The British attempts to profit from the Mela by imposing a hefty religious tax on the pilgrims brought the Company into direct conflict with the Prayagwals. Even after the Company abolished the pilgrim tax in 1840, it continued to levy taxes on traders and service providers (such as barbers) at the Mela.[7] The first British reference to the Kumbh Mela in Prayag occurs only in an 1868 report, which mentions the need for increased pilgrimage and sanitation controls at the "Coomb fair" to be held in January 1870. According to Maclean, the Prayagwals coopted the Kumbh legend and brand from Haridwar to the ancient annual Prayag Magh Mela given the socio-political circumstances in the 19th-century.</p>




<h5 style="color:brown";>Large crowds at the Ganga (Ganges) on a major bathing day in the 2019 Kumbh Mela
</h5>
<img src="images/khumbh mela.jpg" width="600" >

</div>



<%- include("partials/footer"); -%>