<%- include("partials/header"); -%>


<div class="container">

<h3>All need to know for a perfect Sundarban tour!</h3>
<p>Situated 109 KM away from the busy metropolitan of Kolkata, Sundarbans national park is a must visit during the winters! Sundarban is the largest mangrove forest in the world and has been declared as an UNESCO heritage site. These mangrove forests are spread across a total area of 10,000 square kilometer (out of which 4,000 sq. KM are in India). While Sundarban tigers are the biggest tourist attractions here, but a Sundarban tour is also about taking back home a bag full of unique experiences. And this makes Sundarban one of the most appealing places to visit near Kolkata.

    Named after the ‘Sundari’ trees that makes up the jungles here. Mentions of the Sundarban can be found in many prominent Bengali literary works starting from the 13th century. The British declared Sundarban as a reserved forest way back in 1865 and it became a national park in 1984. While the biggest attractions of Sundarban delta are the Royal Bengal Tigers, there are many other animals inhabiting in this swamp land. Some such animals include the estuary crocodiles, Olive Ridley turtles, fishing cats and flying foxes. During the winters the banks of the water-bodies are filled with many species of colorful migratory birds. The best season for a Sundarban tour is between November and March. So, if you are planning a trip to Sundarban, here are some important information you would love to know.</p><br>
    <p>Trivia: Sundarban is constituted of 102 islands. Of these only 52 islands are inhabited by humans while the rest are covered with dense forests.
    </p>
<h4><u>How to reach Sundarban?</u></h4>
<p>By train: Nearest railway station to Sundarban is at Canning (48 KM away). However, tourists generally prefer to get down at Howrah or Sealdah railway stations and visit Sundarbans by outstation cabs.

    BOOK TRAIN TICKETS FOR KOLKATA
    
    Onward Journey: You can travel to Namkhana (105 KM away), Sonakhali (100 KM away), Raidighi (76 KM away), Canning (64 KM away), Najat (92 KM away) from Kolkata. Motor launches are available from all these towns that take you into the Sundarbans national park.</p>

<img src="images/sundarban.png" width="600" >
<img src="images/Tigers-of-Sundarban.png" width="600" >

<h3><u>What is so unique about Sundarban?</u></h3>
<p>Well, there are many reasons to visit Sundarbans national park even if you have already taken a trip to other Tiger hot spots of India. First of all, the eco-system in Sundarban is completely unique. While other <a href="https://blog.railyatri.in/a-quick-trip-to-tadoba-national-park-and-beyond/">national parks</a> and Tiger reserves are land-based, this one is built around water! Secondly, experts believe the Tigers here are rare specimens. While co-existing with the humans and dwelling in water surrounded settings they have picked up many unique skills. The Sundarban tigers are not afraid of humans (which animals in wilderness usually are)! They can also swim in the water, which again defies the general behavior of Tigers across the world. Apart from this, Sundarban tours can be done only on boats. And the boats wriggle past forested zones of Sundarban. Occasionally you get a glimpse of crocodiles sunbathing on the banks and colorful birds. But if you are lucky you can witness a Tiger crossing the water or waiting on the shores for its prey!</p>





</div>









<%- include("partials/footer"); -%>