<%- include("partials/header"); -%>


<div class="container">


<h3>The structure of the Statue of Unity , INDIA</h3>
<p>The Statue of Unity is located right in the middle of the Narmada river flanked by the Satpura and the Vindhya mountain ranges. This location exposes the statue to a wind tunnel effect. Historical wind speeds at this location were studied. It was found that wind speeds could go up to roughly 130 km/hr. The succession effect of the wind at the back also had to be factored in. The air gap at the base, due to the walking posture also had to be considered. The statue is engineered to withstand wind speeds up to 180 km/hr, taking all these factors into consideration.

    The earthquake history at this location was also studied. The Statue of Unity can withstand earthquakes measuring up to 6.5 on the Richter Scale, at a depth of 10 km and within a radius of 12 km of the statue.
    
    The facial expressions on the Statue of Unity were also important. The initial design was made by acclaimed sculptor Ram Sutar. Based on his designs, mock-up was created and exhibited for people to see and comment on.</p>

<p>Sunset is the best time to visit this garden. The view of the Statue of Unity with the sun setting behind the mountains is a sight to behold!</p>

<img src="images/unity.jpeg" width="600" >
<p>Tickets can be purchased online or at the site itself. While the visiting fees are waived off for students, others need a high-value ticket to reach the viewing gallery.</p>

</div>




<%- include("partials/footer"); -%>